<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MPP.My.MySettings.PhoneNumDBConnectionString" connectionString="Data Source=192.168.2.194\SQLEXPRESS;Initial Catalog=PhoneNumDB;Persist Security Info=True;User ID=sa;Password=mstech2016"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <userSettings>
        <MPP.My.MySettings>
            <setting name="grdMain_phonenum_DisplayIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="grdMain_branch_name_DisplayIndex" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="grdMain_staff_name_DisplayIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="grdMain_carnum1_DisplayIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="grdMain_musen_DisplayIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="grdMain_ton_DisplayIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="grdMain_car_branch_DisplayIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="grdMain_max_load_DisplayIndex" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="grdMain_limit_menkyo_DisplayIndex" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="grdMain_limit_syaken_DisplayIndex" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="frmMain_Top" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="frmMain_Left" serializeAs="String">
                <value>593</value>
            </setting>
            <setting name="frmMain_Width" serializeAs="String">
                <value>1138</value>
            </setting>
            <setting name="frmMain_Height" serializeAs="String">
                <value>655</value>
            </setting>
            <setting name="grdMain_car_length_DisplayIndex" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="grdMain_car_width_DisplayIndex" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="grdMain_car_height_DisplayIndex" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="grdMain_bed_length_DisplayIndex" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="grdMain_bed_width_DisplayIndex" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="grdMain_bed_height_DisplayIndex" serializeAs="String">
                <value>16</value>
            </setting>
        </MPP.My.MySettings>
    </userSettings>
</configuration>